@tailwind base;
@tailwind components;
@tailwind utilities;

.roadmap {
  background-image: url("/image/roadmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
